.home{
    background-color: beige;
}
.arpanet{
    background-color: rgb(134, 197, 218);
}
.isps{
    background-color: rgb(191, 236, 191);
}
.mailbox{
    background-color: blanchedalmond;
}
.email{
    background-color: lightsalmon;
}
.aol{
    background-color: rgb(236, 213, 155);
}
.navbar{
    opacity: 60%;
    color: gray;
    text-align: center;
}
.nav-item{
    font-family: Arial, Helvetica, sans-serif;
    
}
img{
    height: 300px;
    width: 300px;
}
.c{
    height: 600px;
    width: auto;
}
h1{
    text-align: center;
}
